[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "libs/entt"]
	path = libs/entt
	url = https://github.com/skypjack/entt
[submodule "libs/marl"]
	path = libs/marl
	url = https://github.com/google/marl
[submodule "libs/optick"]
	path = libs/optick
	url = https://github.com/bombomby/optick
[submodule "libs/mimalloc"]
	path = libs/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "libs/box2d"]
	path = libs/box2d
	url = https://github.com/Vertver/box2d
[submodule "libs/SDL_image"]
	path = libs/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "libs/box2d-opt"]
	path = libs/box2d-opt
	url = https://github.com/ForserX/box2d-opt
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libs/openal-soft"]
	path = libs/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "libs/vorbis"]
	path = libs/vorbis
	url = https://github.com/xiph/vorbis
[submodule "libs/ogg"]
	path = libs/ogg
	url = https://github.com/xiph/ogg
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
