[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/Vertver/imgui/
[submodule "libs/entt"]
	path = libs/entt
	url = https://github.com/skypjack/entt
[submodule "libs/marl"]
	path = libs/marl
	url = https://github.com/google/marl
[submodule "libs/box2d"]
	path = libs/box2d
	url = https://github.com/erincatto/box2d
